body {
  width: auto;
  margin: 0 auto;
  font-family: arial;
  font-size: .9em;
  padding-left: 20px;
  padding-right: 20px;
}

#page_title {
  font-size: 150%;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section_head {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 125%;
}

#content {
  margin-top: 10px;
}

.gray {
  color: #808080;
}

.small {
  font-size: 75%;
}

.right {
  float: right;
}

.red {
  color: red;
}

table
{
  border-collapse:collapse;
  text-align:center;
}

