body {
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;
  font-family: arial;
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
}

#page_title {
  font-size: 130%;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom:10px;
}

.section_head {
  font-size: 115%;
  margin-top: 10px;
  margin-bottom: 10px;

#content {
  margin-top: 10px;
}

.gray {
  color: #808080;
}

.small {
  font-size: 70%;
}

.right {
  float: right;
}

.red {
  color: red;
}
